/* template style sheet*/


.sidebar{
  
  height: auto; 
  width: 15%; 
  display: inline-block;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
}
 .sidebar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
 }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .header {
    float:left;
    display: block;
    background-color: #333;
    font-size: 30px;
    text-align: center;
    padding: 10px 16px;
    position: static;
    z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    padding-bottom: 20px;
  }

    li{
    margin-bottom: 20px ;
  }
  ul.help{
    list-style: none;
  }
  
  .content{
  margin-left: 15%; 
  padding: 16px;
  float: right;

  }

.sticky {
  position: fixed;
  
}
.stickySide {
 position:fixed;
}



  