/* template style sheet*/

.topnav{
  background-color: #333;
  font-size: 50px;
  text-align: center;
}


.sidebar{
  margin-top: 5%;
  height: auto; 
  width: 15%; 
  position: absolute; 
  top: auto;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 20px;
}
 .sidebar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
 }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  header {
    display: block;
  }

    li{
    margin-bottom: 20px ;
  }
  ul.help{
    list-style: none;
  }
  
  main{
  margin-left: 15%; 
  padding: 0px 10px;
  }

.sticky {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
}
.stickySide {
 position:fixed;
}
.sticky + main {
  padding-top: 102px;
}


  