/* template style sheet*/
.headerClass {
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.375rem;
  margin-bottom: 4%;
  padding: .25rem;
  background-color: black;
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.headerClass #menuLinks {
  display: none;
  border-top: 1px solid #bb5b02;
}

.headerClass a {
 
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
.headerClass a.icon {
  display: block;
  position: absolute;
  font-size:24px;
  padding: 6px 8px 6px 16px;
  left: 0;
  top: 0;
  color: white;
}
html{
  line-height: 1.15;
}
nav{
  display: block;
}

.sidebar{
  width: 15%; 
  overflow-x: hidden; 
  position: relative;
  float: left;
  font-size: 1.845 rem;
  padding: .5rem;
  margin-top: 1rem;;
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
}

.highlight{
  background: #bb5b02;
  color: white;
}
.sidebar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid black;
  
 }
 
.active{
  color:white;
  background-color: #bb5b02

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

.banner{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    display: block;
  }

main li{
    margin-bottom: 20px ;
  }
ul.help{
    list-style: none;
  }
body{
    margin: 0;
    box-sizing: border-box;
  }
  
 .content{
  margin-left: 15%; 
  padding-left: 16px;
  font-family:'Open Sans', sans-serif;
  font-size: 1em;
  }
  
  h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.845 rem;
    font-weight: 600;
    color: black;
  }

.sticky {
  position:fixed;
}
.stickySide {
 position:fixed;
 float: left;
 left:0;
}

.selectedHeader{
  background-color: #bb5b02;
  color: white;
}

footer .fa {
  padding: 20px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


.fa-facebook {
background: #3B5998;
color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.footerClass{
  background-color: #111;
  text-align: center;
}

.backgroundHighlight{
    background-color: #bb5b02;
    padding: 14px 16px;
}

.headerLinks{
    background-color: #111;
}

.socialMedia{
  background-color: #bb5b02;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.15;
  padding: 1rem;
  font-family:'Open Sans', sans-serif;
  justify-content: center;
}
 .buffStateInfo{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
 }

 .buffCon{
   display: flex;
   max-width: 90rem;
   margin-right: auto;
   margin-left: auto;
   
 }
 .otherLinks{
  font-family: 'Open Sans',sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  color: #f93;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 90%;
  
 }

 .otherLinks p{
   color: #666;
 }

 .cLinks{
  font-family: 'Open Sans',sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.375rem;
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  color: #f93;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 90%;
 }
 .cLinks li{
  margin-bottom: 1rem;
 }
 .otherLinks li{
  margin-bottom: 1rem;
 }

footer{
  font-family: 'Open Sans',sans-serif;
  color: white;
  padding-bottom: 70px;
}
.footerLogo{
  font-family: 'Open Sans',sans-serif;
  color: #fff;
  display: inline-block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.center{
  margin: 0 auto;
}
.headerLinks a:link, .headerLinks a:visited {
  color:#ff9933;
  text-decoration: none;
}
.sidebar a:link, .sidebar a:visited {
  color:#896458;
  text-decoration: none;
}

.socialDir a:link, .socialDir a:visited {
  color:white;
 text-decoration: none;
 }

.cLinks a:link, .cLinks a:visited {
  color: #ff9933;
  text-decoration: none;
 }
 .otherLinks a:link, .otherLinks a:visited{
  color: #ff9933;
  text-decoration: none;
 }
 .footerLogo a:link, .otherLinks a:visited{
  color: white;
  text-decoration: none;
 }

 /* selected link */
.sidebar a:hover {
  color:white;
  background-color: #bb5b02 ;
}

 .headerLinks a:hover {
  color:white;
  background-color: #bb5b02 ;
}
.footerLogo a:hover {
  background-color: #bb5b02 ;
}
.cLinks a:hover {
  color: white;
  background-color: #bb5b02 
}
.otherLinks a:hover {
  color: white;
 background-color: #bb5b02 ;
}
.fa:hover {
  opacity: 0.7;
}

.sidebar a:active {
  color:white;
  background-color: #ff9933 ;
}

.headerLinks a:active {
  color:white;
  background-color: #ff9933;
}

/*
@media screen and (min-width: 5em){
  .footerMobile {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    text-align: center;
}
}

@media screen and (min-width: 5em)
{
  .db-ns {
    display: block;
}

}
*/


